# Dependencies
node_modules/
.DS_Store
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specifics
healthcare_backend/node_modules/
healthcare_backend/.env
uploads/
